/* fondo inicio */
body {

  background: url(fondo_inicio.jpg);  
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* fondo register */
.registro {
  margin: 20px;
  padding: 20px;
  background: url(registro.avif);  
  height: 140vh;
  width: 140;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

