<!DOCTYPE html> 
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>{% block title%} base {% endblock %} </title>
</head>
<body>

    <div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">Proyecto</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'inicio' %}">Inicio</a> <!---dar a elegir ingresar o ver objetos en baul-->
            </li>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'info' %}">Informacion</a> <!---apartado para ingresar objetos-->
                </li>

                {% if request.user.is_authenticated %}
            
                <li><a class="nav-link active" aria-current="page" style='text-align:right' href="{% url 'exit' %}">Salir</a></li> <!---exit de la cuenta-->
            
                {% else %}
            
                    <li><a class="nav-link active" aria-current="page" href="{% url 'login' %}">Ingresar</a></li> <!---logeo de cuenta-->
            
                {% endif%}

                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'register' %}"></a> <!---si esta conectado no mostrar register-->
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'register' %}">Crear cuenta</a> <!---si no esta conectado mostrar register-->
                </li>
                {% endif%}

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'info' %}">Informacion Creador</a> <!---aca va mi informacion personal-->
                </li>

            </ul>
        </div>
        </div>
    </nav>
        <a style='color:red' class="float-end" class="nav-link active" aria-current="page" >Usario conectado: {{ user.username | upper}} </a>
        <h1 style='color:rebeccapurple'> Menu </h1>

<hr/>
<div id="menu">

{% block contenido_nuevo%}{% endblock %}

</body>
</html>

