<!DOCTYPE html> 
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>{% block title%} base {% endblock %} </title>
</head>
<body>

    <div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">Global Market</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                
            {% if request.user.is_authenticated %}

            {%else%}
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'portada' %}">Portada</a> <!---portada para visitantes-->
            </li>
            {% endif%}

            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'inicio' %}">Inicio</a> <!---Inicio para usuarios con login-->
            </li>
            <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'add-producto' %}">Agregar producto</a> <!---apartado para ingresar objetos-->
                </li>
                {% else %}
                <li class="nav-item">
                    <!---NADA-->
                </li>
                {% endif%}

                {% if request.user.is_authenticated %}
                <!---NADA-->
                {% else %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'register' %}">Crear cuenta</a> <!---si no esta conectado mostrar register-->
                </li>
                {% endif%}

                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'adm-productos' %}">Mostrar producto</a> <!---sin info-->
                </li>
                {% else %}
                    <!---NADA-->
                {% endif%}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'info_creador' %}">Info creador</a> <!---aca va mi informacion personal-->
                </li>

                {% if user.is_superuser or user.is_staff%}
                
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'List' %}">Gestion/producto</a> <!---Ver editar y borrar-->
                </li>
                {% else %}
                <!---NADA-->
                {% endif%}

                {% if request.user.is_authenticated %}
                
                    <li><a class="nav-link active" aria-current="page" style='text-align:right' href="{% url 'exit' %}">Salir</a></li> <!---exit de la cuenta-->
            
                {% else %}
            
                    <li><a class="nav-link active" aria-current="page" href="{% url 'login' %}">Ingresar</a></li> <!---logeo de cuenta-->
            
                {% endif%}

                <li><a class="nav-link active" aria-current="page" href="{% url 'contacto_home' %}">Contacto</a></li> <!---logeo de cuenta-->
                
            </ul>
        </div>
        </div>
    </nav>
        
        {% if request.user.is_authenticated %}  <!---Manejo usuario conectado para mostrar nombre y foto(se necesita replegar la foto sobre los otros templates...)-->
            <a style='color:red' class="float-end" class="nav-link active" aria-current="page" >Usario conectado: {{ user.username | upper}}&nbsp;&nbsp;<img src="{{url_imagen}}" style="height: 40px; width: 45px;" /></a>
        {% endif%}


        <br>
        <br>
        {% if request.user.is_authenticated %}  <!---Manejo editar perfil usuario conectado y cambio de clave-->
        <a style='color:red' class="float-end"class="nav-link active" aria-current="page" href="{% url 'editarperfil' %}">Editar perfil</a> 
        <br>
        <a style='color:red' class="float-end"class="nav-link active" aria-current="page" href="{% url 'change-password' %}">Cambio de clave</a>
        {% else %}
        <!---NADA-->
        {% endif%}

        <br>
        <h6><div style='color:red' class="float-end"class="nav-link active" aria-current="page" id="current_date"></p></h6><script>document.getElementById("current_date").innerHTML = Date();</script><!---Hora-->
        <br>

        <!---Manejo que tipo de usuario se conecto--> 
        {% if user.is_superuser  %}
        <a style='color:red' class="float-end" class="nav-link active" aria-current="page" >Usuario admin</a>
        {% elif user.is_staff %}
        <a style='color:red' class="float-end" class="nav-link active" aria-current="page" >Usuario Staff</a>
        {% elif request.user.is_authenticated %}
        <a style='color:red' class="float-end" class="nav-link active" aria-current="page" >Usuario</a>
        {% else %}
        <a style='color:red' class="float-end" class="nav-link active" aria-current="page" >visitante</a>
        {% endif %}
        
<br>         
<hr/>
<div id="menu">

{% block contenido_nuevo%}{% endblock %}

</body>
</html> 

