{% extends "mi_app/base.html" %}
{% load static %}
{% block contenido_nuevo%}

<title>{% block title%} Editar perfil {% endblock %}</title>
<link rel="stylesheet" href="{% static 'mi_app/imagen/estilos.css'%}">

    <h2> Editar perfil de {{usuario}}</h2>
    <br>
    <br>
    <br>
    
<body>

    <form action='' method='POST'>{% csrf_token %}
        
        <table>

            {{ miFormulario.as_table }}

        </table>
        <br>
        <input type="submit", value="Enviar">
        
    </form>  
    
</body>


{% endblock %}