{% extends "mi_app/base.html" %}
{% load static %}
{% block contenido_nuevo%}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'mi_app/imagen/estilos.css'%}">
<title>{% block title%} Info Creador {% endblock %}</title>

<header>
    <h1>Data creador</h1>
  </header>

  <h4 style="color:#FF5733;"><em>

    Que les puedo decir sobre mi... empecemos con mi nombre el cual es Ross algo llamativo lo se pero bueno 

  </em></h4>
{% endblock %}