{% extends "mi_app/base.html" %}
{% load static %}
{% block contenido_nuevo%}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'mi_app/imagen/estilos.css'%}">
<title>{% block title%} Portada {% endblock %}</title>
{% if request.user.is_authenticated %}

<meta http-equiv="Refresh" content="0; url='http://127.0.0.1:8000/inicio/'" />   <!---redireccion para que usuario conetados no lo vean -->

{% else %}
  <body>
    <!-- Aquí empieza el encabezado principal que se mantendrá en todas las páginas del sitio web -->

    <header>
      <h1>Global Market</h1>
    </header>

    <nav>
      <ul>
        <li><a href="{% url 'info_creador' %}">Info creador</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>

    <!-- Aquí está el contenido principal de nuestra página -->
    <main>
      <!-- Contiene un artículo -->
      <article>
        <h2>¿Que es Market Global?</h2>

        <h4 style="color:#FF5733;"><em>

          Imagina un lugar donde puedas vender todo lo que quieras con un perfil privado y ganancias totales del 95% de la venta... Exacto!!  eso es Global Market 
          tu tienda de confianza donde podrás vender y comprar todo lo que gustes… En Global Market lo único que puede limitarte es tu imaginación!!!... y tal vez tu billetera... pero bueno.. te esperamos!!!

        </em></h4>

        <h3>Subsección</h3>

        <p>
          Donec ut librero sed accu vehicula ultricies a non tortor. Lorem ipsum
          dolor sit amet, consectetur adipisicing elit. Aenean ut gravida lorem.
          Ut turpis felis, pulvinar a semper sed, adipiscing id dolor.
        </p>

        <p>
          Pelientesque auctor nisi id magna consequat sagittis. Curabitur
          dapibus, enim sit amet elit pharetra tincidunt feugiat nist imperdiet.
          Ut convallis libero in urna ultrices accumsan. Donec sed odio eros.
        </p>

        <h3>Otra subsección</h3>

        <p>
          Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum
          soclis natoque penatibus et manis dis parturient montes, nascetur
          ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem
          facilisis semper ac in est.
        </p>

        <p>
          Vivamus fermentum semper porta. Nunc diam velit, adipscing ut
          tristique vitae sagittis vel odio. Maecenas convallis ullamcorper
          ultricied. Curabitur ornare, ligula semper consectetur sagittis, nisi
          diam iaculis velit, is fringille sem nunc vet mi.
        </p>
      </article>

    <!-- salto de lineas -->
      <br><br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

    <footer>
      <div align="center"><font style="color:#E400FF;" size="+1"><marquee bgcolor="#000000" direction="right" loop="50">©Copyright 2070 de Global Market. Todos los derechos en proceso.</marquee></font></div>
    </footer>
  </body>
</html>

{% endif %}
{% endblock %}