{% extends "mi_app/base.html" %}
{% load static %}
{% block contenido_nuevo%}

<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Borrar producto</title>
</head>
<body>

    <form method="post"> {% csrf_token %}
        
    ¿Estas seguro que deseas borrar el siguiente producto?"<p>
    <h6>Nombre del Producto:</h6>{{ producto.nombre}}</p>
    <p><h6>Descripcion:</h6>{{producto.descripcion}}</p>
    <p><h6>Precio:</h6>{{producto.precio}}</p>
    {% if producto.imagen %}
    <p><h6>Imagen:</h6> <scope="row"><img src="{{ producto.imagen.url }}" style="height: 50px; width: 50px;" alt="..."></p>
    {% else %}
    <td scope="row" ><img src="" style="height: 50px; width: 50px;" alt="no imagen"></td>
    {% endif %}
    <p>

        <input type = "submit", value="Borrar" />
    </form>
    <br>
    <input type="button" onclick="history.back()" name="Volver atras" value="Volver atras">

</body>
</html>

{% endblock %}
