{% extends "mi_app/base.html" %}
{% load static %}
{% block contenido_nuevo%}

{% if user.is_superuser or user.is_staff%}

<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'mi_app/imagen/estilos.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} Producto detalle {% endblock %}</title>
</head>
<body>
    <h2>Detalles del producto<h2>
        <br>
    <p><h3>Nombre del Producto:</h3><b style="color:#FF0000;" >{{ producto.nombre}}</b></p>
    <p><h3>Descripcion:</h3><b style="color:#FF0000;">{{producto.descripcion}}</b></p>
    <p><h3>Precio:</h3><b style="color:#FF0000;">{{producto.precio}}</b></p>
    {% if producto.imagen %}
    <p><h3><b>Imagen:</b></h3> <scope="row"><img src="{{ producto.imagen.url }}" style="height: 50px; width: 50px;" alt="..."></p>
    {% else %}
    <td scope="row" ><img src="" style="height: 50px; width: 50px;" alt="no imagen"></td>
    {% endif %}
    <p>
        <a style="color:#FF0000;" href= "{% url 'List' %}"><h3>Volver atras</h3></a>
    </p>

</body>
</html>

{% elif request.user.is_authenticated%}
<meta http-equiv="Refresh" content="0; url='http://127.0.0.1:8000/inicio/'" />   <!---redireccion para que usuario no conetados no lo vean -->
{% else %}
<meta http-equiv="Refresh" content="0; url='http://127.0.0.1:8000/portada/'" />   <!---redireccion para que usuario no conetados no lo vean -->
{% endif %}

{% endblock%}