{% extends "mi_app/base.html" %}
{% load static %}
{% block contenido_nuevo%}

<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} Producto editar {% endblock %}</title>
</head>
<body>
    <h2>Editar el siguiente producto:</h2>
        <br>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type = "submit", value="Aplicar los cambios" />
    </form>
    <br>
    <input type="button" onclick="history.back()" name="Volver atras" value="Volver atras">
</body>
</html>

{% endblock%}