{% extends "mi_app/base.html" %}
{% load static %}
{% block contenido_nuevo%}
{% load crispy_forms_tags%}

    <title>{% block title%} Login {% endblock %}</title>
    <div class="ingreso_fondo">
    <link rel="stylesheet" href="{% static 'mi_app/imagen/estilos.css'%}">
    <form action="" method="POST">
        {% csrf_token %}
        
        <div class="card mx-auto" style="width: 30rem;">
            <div class="card-body">
                <h5 class="card-title">Ingrese sus credenciales</h5>
                
                    {{form | crispy}}

                <a href="{% url 'inicio' %}" class="card-link">inicio</a>
                <a href="{% url 'register' %}" class="card-link">registrase</a>

                <button class="btn btn-sm btn-primary float-end" type="submit">Inciar sesion</button>
            </div>
        </div>

    </form>

    </div>
{% endblock %}
